html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 30px;
  text-align: center;
}

#myDiv {
  display: flex;
  position: relative;
  justify-content: center;
}

#data {
  justify-content: center;
  align-items: center;
}



.volume {
  -webkit-appearance: none; 
  appearance: none;
  height: 10px;
  border-radius: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.volume:hover {
  opacity: 1;
  cursor: pointer;
}

.volume::-webkit-volume-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
}

.volume::-moz-range-thumb {
  width: 15px;
  height: 15px;
}



.progress {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  border-radius: 25px;
  width: 400px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

.progress::-webkit-volume-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
}

.progress::-moz-range-thumb {
  width: 25px;
  height: 25px;
}